code {
	font-family: monospace;
	white-space: pre;
	margin: 20px;
	padding: 20px;
}

.keyword {
	color: blue;
	font-weight: bold;
}

.inset {
	text-indent: .5in;
}

.syntax {
	padding: 20px;
}

.syntax ul {
	padding: 0;
	margin-left: 40px;
}

.syntax li {
	margin: 10px;
 list-style: none;
}

iframe {
	display: block;
	width:  95%;
	height: 400px;
	margin: .25in;
}

table.release_notes, table.issues {
	border: 1px solid;
	border-collapse: collapse;
}

table.release_notes th {
	min-width: 10%;
}

table.release_notes th, table.release_notes td, table.issues th, table.issues td {
	border:         1px solid;
	vertical-align: top;
	padding:        10px;
}

table.no_border th {
	text-align:     left;
}

table.no_border th, table.no_border td {
	vertical-align: top;
	padding:        10px;
	margin:         20px;
}


