
name: SphinxBuildDeploy

on:
  release:
    types: [ published ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: refs/tags/${{ needs.resolve-upload-url.outputs.tag }}
          fetch-depth: 0

      - name: Get java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Get PlantUML
        run: |
          sudo apt-get update
          sudo apt-get install plantuml

      - name: Get Sphinx Stuff
        run: pip install -r requirements.txt

      - name: Do build
        run:  make pdf html

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: _build/html

  deploy:
    needs: build

    permissions:
        pages: write
        id-token: write

    environment:
        name: github-pages
        url: ${{ steps.deployment.output.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4


